@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');

:root{
    --body-bg: #f0f0f0;
    --body-color: #000;
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--body-bg); 
    color: var(--body-color);
}

.cabecalho{
    background: #990099;
    height: 100px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cabecalho ul{
    display: flex;
    justify-content:space-around;
}

.topico{
    margin: 0 0 0 20px;
    font-family: 'Georama', sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
}

.topico a{
    text-decoration: none;
    color: #fff;
}

.topico a:hover{
    background: linear-gradient(#990099, rgb(255, 81, 0));
    text-decoration: underline solid rgb(255, 81, 0);
}


main{
    width: 940px;
    margin: 10px auto;
}