:root{
    --body-bg: #fafafa;
    --body-color: #000;
    --table-th-color: #125874;
    --table-td-color: #def290;
    --valor-color: #0df;
    --valor-hover-color: #14f;
    --botao-hover-color: #0af;
}

body{
    background: var(--body-bg);
    color: var(--body-color);
    width: 500px;
    margin: 0 auto;
}

.calculadora{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 50px;
}

.informa-valores{
    display: inline-flex;
}

.valor{
    width: 250px;
    height: 20px;
    display: block;
    border: 0px;
    border-bottom: 1px solid var(--valor-color);
    transition: 400ms;
}

.valor:hover{
    border-bottom: 1px solid var(--valor-hover-color);
}

.botao{
    width: 80px;
    height: 50px;
    margin: 0 0 0 10px;
    background: var(--valor-color);
    border: 1px solid var(--valor-hover-color);
    border-radius: 5px;
    transition: 300ms;
    cursor: pointer;
}

.botao:hover{
    background: var(--botao-hover-color);
    color: #fff;
}

.mostra-imc{
    width: 100px;
    height: 100px;
    text-align: center;
    background: #ffe;
    border: 3px ridge #fefefe;
}

.mostra-imc p{
    margin-top: 40px;
}

.tabela-imc{
    margin: 0 100px 0;
}

.indices-tabela, .peso-abaixo, .peso-ideal, .peso-acima, .obesidade-i, .obesidade-ii, .obesidade-iii, th, td{
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}

.indices-tabela{
    background: var(--table-th-color);
    color: #fff;
    font-weight: bold;
}

.peso-abaixo, .peso-ideal, .peso-acima, .obesidade-i, .obesidade-ii, .obesidade-iii{
    background: var(--table-td-color);
}

.destaque{
    background: #ff5400;
    font-weight: bold;
}